

.header {
padding: 20px;
text-align: left;
background: #383c4a;
color: #5294e2;
font-size: 25px;
font-family: sans-serif;
}

.header img {
  float: right;
  width: 125px;
  height: 125px;

}

.header-two {
  padding: 10px;
  text-align: left;
  background: #383c4a;
  font-size: 15px;
  font-family: sans-serif;
  color: #5294e2;
}


.column {
    float: left;
    width: 50;
    padding:10px;
    height: 300px;
}

.row::after{
    display: table;
    clear: both;
}




body {
  background-color: #404552;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7c818c;
  }
  
  li {
    float: left;
    color: #5294e2;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
    transform:scale(1.1);
  }
  
  .active {
    background-color: #4CAF50;
  }

img {
  width: 300px;
  height: 400px;
}

.bio {
  font-size: x-large;
  color: #5294e2;
}

.wrapper {
  margin-right: 5%;
  margin-left: 5%;
}
.grid >div{
  background-color:#7c818c ;
  padding: 1em;
}
.grid > div:nth-child(odd) {
  background:#ddd;
}
.grid {
  display: grid;
  
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}


